<h1>Listing tickets</h1>

<table>
  <thead>
    <tr>
      <th>Description</th>
      <th>User's email</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tickets.each do |ticket| %>
      <tr>
        <td><%= ticket.description %></td>
        <td><%= ticket.user.email if ticket.user %></td>
        <td><%= link_to 'Show', ticket %></td>
        <% if ticket.user == current_user %>
          <td><%= link_to 'Edit', edit_ticket_path(ticket)  %></td>
          <td><%= link_to 'Destroy', ticket, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% if user_signed_in? %>
  <%= link_to 'New Ticket', new_ticket_path %>
<% end %>